* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #888;
  padding: 15px;
}

.movieList {
  margin: 0 30px;
}

.movie {
  margin: 10px 0;
}
